table, td, th {
  border: 1px solid black;
}

th {
  background-color: #222222;
  color: #f6f5f5;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 0%;
}


tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.jumbotron{
background-color: #222222;
color: #f6f5f5;
font-family: 'Poppins', sans-serif;
border-radius: 0%;
}


.header{
  padding: 2%;
}
.footer{
 padding: 1%;
}

.container{
color: #f6f5f5;
font-family: 'Poppins', sans-serif;
}
.box-benvenuto{
border: 2% #070d59;
width: 30%;
margin: auto;
margin-top: 1%;
margin-bottom: 1%;
background-color: #222222;
padding: 3%;
border-radius: 40px;  
}

.btn1{
text-align: center;
margin-top: 5%;
}

.btn{
color: #222222;
font-family: 'Poppins', sans-serif;
background-color: #ffba48;
}

/* per sezione
*/
.container2{

width: 50%;
margin: auto;
margin-top: 5%;
margin-bottom: 3%;

/* padding-top: 10%;
padding-bottom: 10%; */
border-radius: 40px;
/* border: 2px solid #070d59; */
color: #f6f5f5;
font-family: 'Poppins', sans-serif;
}

.btn2{
/* background-color: #1f3c88; */
/*commentati epr provare misure con bootstrap*/
height: 400px;
border-radius: 150px;
color: #000000!important;
font-family: 'Poppins', sans-serif;
/* margin-left: 3%;
margin-right: 3%; */
}

.btnazienda{
  background-image: url(../images/aziende.jpg);
  background-size: 230%;
  background-repeat: no-repeat;
  background-position: center;
  /* opacity: 0.50; */
  font-size: xx-large;

/*   
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; */
}


#scritta{
  background-color:  #ffba48;
  
}

.btndipendenti{
  background-image: url(../images/dipendenti.jpg);
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: center;
  font-size: xx-large;
}



.btn-azienda{
  color: #000000;
  font-family: 'Poppins', sans-serif;
  background-color: #ffba48 ;
  border-radius: 5px;
}

.testa{
 background-color: #1f3d88d2;
}

.apri-modifica-azienda{
  background-color: #ffba48;
  color: #222222;
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
}

.dettaglio-dipendente{
  background-color: #ffba48;
  color: #222222;
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
}

.apri-modifica-dipendente{
  background-color: #ffba48;
  color: #222222;
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
}

.modal-header{
  
  color: #f6f5f5;
  font-family: 'Poppins', sans-serif;
}


.modal-content{
  background-color: #222222;
}
.modal{
  border: 10% solid #222222 ;
} 

.modal-body{
  padding-top: 10%;
  padding-bottom: 10%;
  border-radius: 2%;
}

/*sono tutti i p dei modali */
p{
  margin-top: 2%;
  margin-bottom: 0%;
}

.modal a.close-modal {
top: 8px !important;
right: 8px !important;
}